/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Border-box = The height and width are defined for the entire box, including the padding and the border - Not just the content */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
//   box-sizing: border-box; - Whenever we can use inheritance we should instead of a universal selector. Remove box-sizing from here and put it in body. The box-sizing property is not inherited unless set - Makes it easier to change box-sizing for plugins or components. Then need to go and add pseudo elements to "*" because by default only applies to real elements
  box-sizing: inherit;
}

html {
    /* Could set font-size to 10px - font-size: 10px;
    If use 10px as root font-size, it's easy to calculate rem, but means user can't change font-size if needed.
    The default font-size is 16px, so to make it scalable 10/16 =  62.5% */
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: #777;
    // padding: 30px;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgb(40, 180, 133, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;      
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

/* If want one of the @keyframe animations to ONLY happen to logo when hover
.logo:hover {
    animation: moveInRight 10s ease-out;
}  */


.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* the top left corner is centered in relation toparent element,so need to translate to adjust relative to positioning of element */
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /* At the end of animation it shakes slightly toward top.
    To prevent this add backface visibility property */
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    /* For animation to work need to add 2properties */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /*
    animation-timing-function: ease, ease-in, ease-out, ease-in-out, linear, step-start, step-end ;
    Waits 3 seconds - animation-delay: 3s;
    Does animation 3 times - animation-count: 3;
    */
}

.heading-primary--sub {
    color: #fff;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    /* Combine all 3 in animation
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    */
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
        80% {
        transform: translateX(1rem);
        /* to  make it go past center and then slide back */
    }
    100% {
        opacity: 1;
        /* zero indicates that it's at final place chose for it to be positioned - Note, no x or y */
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }    
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* displays on top of heading text because by default it's an in-line element to make it display in box-model like a block element. Because a simple inline element don't need to do complicated positioning just set a text align center in text-box */
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    /* have to add font-size after changed default to 10px from 16 */
    font-size: 1.6rem;
}
.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    /* height and width percentage of button -Pseudo element is basically treated as a child of the element*/
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* Want to position it behind button or it looks like one   big fat button - But remember the absolute positioning has to have a reference. Will be the first element it can find with a relative position, Currently would be header, but we want it to be hidden after the button, so the reference should be the button (on btn:link). */
    position: absolute;
    top: 0;
    left: 0;
    /* need z-index when elements on top of each other*/
    z-index: -1;
    /* Transition property goes on the initial state - the after pseudo element */
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /* the double white part that see is the pseudo element that becomes visible as hover over the button (Even though the original button is still on top of the pseudo element.
    ALso opacity is going to zero as element fades out */
    opacity: 0;
}
.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    /* animation name, duration, timing function and delay */
    animation-fill-mode: backwards;
    /* Automatically applys the styles (opacity= 1 &transform/translateY(30px)) up to zero % before the animation starts */
}