
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    // padding: 30px;
    padding: 3rem;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    /* At the end of animation it shakes slightly toward top.
      To prevent this add backface visibility property */
    backface-visibility: hidden;
    margin-bottom: 6rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3.5rem;
      /* For animation to work need to add 2properties */
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      /*
        animation-timing-function: ease, ease-in, ease-out, ease-in-out, linear, step-start, step-end ;
        Waits 3 seconds - animation-delay: 3s;
        Does animation 3 times - animation-count: 3;
        */
      }
    
    &--sub {
      color: white;
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.75rem;
      /* Combine all 3 in animation
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        */
      animation: moveInRight 2s ease-out;
    }
  }