
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    // padding: 30px;
    padding: 3rem;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    /* At the end of animation it shakes slightly toward top.
      To prevent this add backface visibility property */
    backface-visibility: hidden;
    margin-bottom: 6rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3.5rem;
      /* For animation to work need to add 2properties */
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      /*
        animation-timing-function: ease, ease-in, ease-out, ease-in-out, linear, step-start, step-end ;
        Waits 3 seconds - animation-delay: 3s;
        Does animation 3 times - animation-count: 3;
        */
      }
    
    &--sub {
      color: white;
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.75rem;
      /* Combine all 3 in animation
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        */
      animation: moveInRight 2s ease-out;
    }
  }

  // Gradient Text
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }    
  }
  // To make the gradient color stop at end of text (ie: not occupy 100% of the block width) - make inline-block.
  // To use webkit background-clip property so the background gets clipped (is visible) exactly where the text is, need webkit prefix.
  // However, what we want to see is not the actual text, but the background image ... so make the text transparent
  // Shadow = X-direction, Y-direction, blur and color
  // Use utility classes to Center by wrapping element in a parent element

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}